@import '@styles/base';

.newPassContainer {
  @include directionY;
  align-items: center;

  .title {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0.2rem;
  }
  .newPass {
    @include directionX;
  }
  .content {
    font-size: 1.2rem;
  }
}

.forgotPassFooter {
  margin-top: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  font-size: small;

  &:hover {
    text-decoration: underline;
  }
}

.forgotPass {
  display: flex;
  justify-content: end;
  h5 {
    cursor: pointer;
    font-weight: 500;
    font-size: small;
    &:hover {
      text-decoration: underline;
    }
  }
}

.register {
  display: flex;
  justify-content: center;
  h5 {
    cursor: pointer;
    font-weight: 500;
    font-size: small;
    &:hover {
      text-decoration: underline;
    }
  }
}

.copyText {
  font-size: small;
  font-weight: 500;
  opacity: 0.5;
}
